[submodule "hackathon_projects/snaptron-mcp"]
	path = hackathon_projects/snaptron-mcp
	url = https://github.com/RouOnions/mcp-snaptron.git

[submodule "hackathon_projects/r2-depmap-mcp"]
	path = hackathon_projects/r2-depmap-mcp
	url = https://github.com/cucumbermaster5000/r2-depmap-MCP.git
